a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 20px;
} 
 

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: left;
  /* background-color: #333; */
}

.nav li {
  margin: 0 10px;
}

#footer-text {
    display: flex;
    justify-content: center;
}
