body {
  margin: 0px; 
}

header{
  margin: 0; 
  background-color: #f6f5b4;
  padding: 15px 30px;
  display: flex;            
  justify-content: left; 
  align-items: center;
}
 
nav {
  padding: 5px 30px; 
  background-color: #edac29;
}

.nav ul {
  list-style-type: none;
  padding: 0px 10px;
  display: flex;
  justify-content: left;
}

.nav li {
  padding: 0 20px;
}

.nav ul li:hover {
  color: #0004ff;
}

main {
  padding: 0px 60px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;              
  border-top: 1px solid black;
  margin: 0;
  padding: 0;
  background-color: #f6f5b4;
  display: flex;            
  justify-content: center;  
}

#footer_text {
  text-align: center;
}


