/* responsive container of svg element */
.responsive-svg-container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1200px;
}

@media screen and (max-width: 596px) {
    .responsive-svg-container {
        margin-bottom: 20px;
    }
}

.axis-label {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    fill: #5a3e2b
}


.filter {
    background-color: rgb(236, 238, 232);
}

.filter:hover,
.filter.active {
    background-color: #ffd453;
}


